

.content{
    position: center;
}

.card {
    height: 517px;
    width: 100%;
    bottom: -30px;
    left: -300px;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 12px;
    border-radius: 20px;
    padding: 15px 15px;
    text-align: center;
}


.search {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 20px 20px;
        height: 40px;
        border-radius: 50px;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
    }

.search button {
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 60px;
        width: 130px;
        height: 40px;
        cursor: pointer;
    }

.search button img {
            width: 28px;
        }

.weather h1 {
    font-size: 40px;
    font-weight: 100;
}

.weather h2 {
    font-size: 40px;
    font-weight: 100;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

    .col img {
        width: 40px;
        margin-right: 10px;
    }

.humidity, .wind {
    font-size: 28px;
    margin-top: -40px;
}

.Registration {
    font-size: 10px;
    padding: 11px 0;
    
}
.card1 {
    width: 920px;
    height: 470px;
    bottom: 100px;
    position: fixed;
    right: 100px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
}
.webname{
    width: 400px;
    height: 50px;
    top: 100px;
    position: fixed;
    right: 100px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
}
